{% extends "auctions/base_listing.html" %}

{% block title %}Edit Comment{% endblock %}

{% block page_name %}Edit Comment{% endblock %}

{% block body %}
    <div class="container align-items-center" width="300px" height="auto">
        <div class="row justify-content-between" style="width: 100%">
            <form action="{% url 'update_comment' listing_id user %}" method="POST" style="width: 100%;">
                {% csrf_token %}
                <textarea id="updated_comment" name="updated_comment" style="width: 100%;border-radius: 15px;padding-left: 15px;height: 100%">{{ comment }}</textarea>
                <button style="font-weight: bold;border-radius: 15px">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}